---
name: build nodejs application
on: 
 workflow_dispatch:    
 push:               
    branches:
        - master            
jobs:
  job1:
   runs-on: ubuntu-latest
   steps: 
      - name: clone the repository
        uses: actions/checkout@v4
      - name: Install nodejs
        uses: actions/setup-node@v4
        with: 
         node-version: 18
         cache: 'npm'
      - run: npm ci
      - run: npm test
      - name: Install dependencies 
        run: npm ci
      # to run the test cases:
      - name: Executes the test cases
        run: npm test
      - name: Build code
        run: npm run build
      - name: Deploy the code
        run: echo "Deploy the code"
